.popup {
  & span {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--black);
    font-style: normal;
  }

  li {
    margin: 5px 0;
    font-style: italic;
    list-style-type: none;
    color: var(--grey);

    &:last-child {
      margin: 0;
    }
  }
}
