.notFound {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
  margin: 0;
  background-color: var(--white);
  border-radius: 12px;

  &__title {
    margin: 16px 0 8px;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    line-height: 24px;
  }
}